{% extends 'news/base.html' %} 
{% load static %} 


{% block content %}


{% for donations in all_donations %}
    
    <div class="container">
        <div class="donation--block grid grid--2-cols">
            <div class="donation--image">
                <figure class="image">
                    <img class="donations--detail_image" src="{{ donations.image.url }}">
                </figure>
            </div>
            <div class="donation--description">
                <h2 class="donation--h2"> {{ donations.title }} </h2>
                <p class="donation--paragraph"> Коштiв зiбрано: </p>
                <p class="donation--collected"> {{donations.collected_amount}} / {{donations.required_amount}} UAH</p>
                <p class="donation--body"> {{donations.body}} </p>
                <a href="{% url 'contacts' %}" class="add--founds">ВНЕСТИ КОШТИ</a>
            </div>

        
        
        
        </div>
    </div>

{% endfor %}

{% endblock %}