{% extends 'news/base.html' %} 
{% load static %} 


{% block content %}
    <div class="container grid grid--2-cols">
        {% for project in all_projects %}
            
            
            <div class="projects--image">
            <figure class="image">
                <img class="project--detail_image" src="{{ project.image.url }}">
            </figure>
            </div>
            <div class="projects--description">
               <h1 class="project--header">{{ project.title }}</h1>
               <p class="project--paragraph">{{ project.body }}</p>
            </div>
            
        {% endfor %}
    </div>
    <div class="empty--space"></div>
{% endblock %}
